<div class="container">
  <div class="row justify-content-md-center mt-4">
    <div class="col-5">

      <div class="row">
        <h1>To Do List</h1>
      </div>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
          <div class="col-10">
            <input type="text" id="title" name="title" placeholder="Type a task" class="form-control" ngModel>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i></button>
          </div>
        </div>
      </form>

      <div *ngIf="titleInputNull" class="alert alert-danger mt-2" role="alert">
        task is <b>required</b>
      </div>

      <ul class="list-group list-group-flush mt-3">
        <li *ngFor="let task of tasks" class="list-group-item">
          <div class="row" *ngIf="!this.task.isComplete">
            <div class="col-8">
              <div>
                <p class="fs-5">{{task.title}}</p>
              </div>
            </div>
            <div class=" col-2">
              <button (click)="onComplete(task.id)" class="btn btn-success"><i class="fas fa-check"></i></button>
            </div>
            <div class="col-2">
              <button (click)="onDelete(task.id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>
        </li>
      </ul>

      <br>
      <br>

      <div class="row">
        <h1>Completed tasks</h1>
      </div>

      <ul class="list-group list-group-flush mt-3">
        <li *ngFor="let task of tasks" class="list-group-item">
          <div class="row" *ngIf="this.task.isComplete">
            <div class="col-8">
              <div>
                <p class="fs-5">{{task.title}}</p>
              </div>
            </div>
            <div class="col-2">
              <button (click)="onComplete(task.id)" class="btn btn-success"><i class="fas fa-check"></i></button>
            </div>
            <div class="col-2">
              <button (click)="onDelete(task.id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
